/* 
    Feuille de style perso
*/

.btn-primary {
    background-color: lightgreen;
    border-color: lightgreen;
    color: black;
}

.btn-primary:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.btn-primary:focus {
    background-color: green;
    border-color: green;
    color: white;
}

a.icone-contact {
    color: darkslategray;
}

a.icone-contact:hover {
    opacity: 0.7;
}

@media (max-width: 576px) {
    a.icone-contact {
        font-size: 0.75rem;
    }
}