/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* 
Structure : 

    element {
        property1: value1;
        property2: value2;
    }

*/

/* Mettre les div en couleur permet de comprendre l'espace qu'elles occupent */

body {
	/* background-image: linear-gradient(white, lime); */
	background: azure;
	font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;
}

header {
    background-color: lightgreen;
    height: auto;
    margin: 0;
    padding: 20px 10px;
}

header a {
    background-color: grey;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: black;
    box-shadow: black 0px 0px 5px;
    text-decoration: underline;
}

header .logo a {
    background-image: url("Pictures/gif_maze.gif");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;
    /* border-radius: 0; */
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    /* top: 0px; */
    text-indent: -99999999px;

    margin: 0px;
    padding: 0px;
}

h1 {
    color: red;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.features {
	background-color: white;
    color: grey;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    
    margin: 0px;
    padding: 30px;
    
    text-align: center;
    /* text-transform: uppercase; */
}

.features figure {
    /* background-color: yellow; */
    margin: auto;
    width: 40%;
}

.features figure img, video {
    width: 100%;
    border: 2px solid black;
}

.features figure img {
    border-radius: 50%;
    box-shadow: black 0 0 20px;
}

.docs {
    color: darkslategray;
    font-size: 30px;
    margin: 0;
    padding: 10px 15px;
    text-align: center;
}

.docs figure img {
    width: 90%;
}

section.cv {
    background-color: white;
    padding: 30px;
    text-align: center;
}

section.cv a {
    border: 2px solid black;
    border-radius: 25px;
    margin: 30px;
    padding: 15px;
    text-decoration: none;
}

section.cv a:hover {
    text-decoration: underline;
}

embed {
    width: 100%;
}

section.coming-soon {
    background-color: lightseagreen;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: grey;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}
